*.db
*.db-shm
*.db-wal
extra/*.pem
utils/ffmpeg*
utils/ffprobe*
*.sqlite
target
target/*
vendor/nightfall/Cargo.lock
expanded.rs
*.db
build
logs/
metadata/
streaming_cache/
transcoding
benches/bench_1.mkv
benches/bench_1.txt
.env

# UI
node_modules
ui/.yarn/install-state.gz
ui/.yarn/unplugged/
ui/.yarn/build-state.yml
ui/coverage
ui/build

npm-debug.log*
yarn-debug.log*
yarn-error.log*
config.toml
core


#MacOS
**/.DS_Store
