.dirSelection {
  grid-area: dirSelection;

  .controls {
    display: flex;
    gap: 0.4em;
    margin-bottom: 0.7em;
  }

  .dirs-wrapper {
    border-radius: 10px;
    overflow: hidden;
  }

  .dirs {
    position: relative;
    overflow-y: auto;
    height: 256px;
    border-radius: inherit;
    background: var(--modalSecondaryColor);
    scrollbar-width: thin;

    .vertical-err {
      position: absolute;
      top: 1em;
      left: 50%;
      width: calc(100% - 2em);
      transform: translateX(-50%);
      text-align: center;

      p {
        color: var(--primaryTextColor);
      }
    }

    .dir {
      display: grid;
      grid-template-columns: 20px 1fr 8px;
      gap: 0.9em;
      width: 100%;
      min-height: 40px;
      padding: 0.5em 0.9em;
      border: 0;
      align-items: center;
      background: transparent;
      color: var(--primaryTextColor);
      cursor: pointer;
      text-align: left;

      &:hover,
      &:focus {
        background: var(--modalTertiaryColor);
        outline: none;
      }

      svg {
        fill: var(--primaryTextColor);
      }

      svg:last-child {
        font-size: 0.5em;
        fill: var(--tertiaryTextColor);
      }

      span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .folder-action {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.7em;
  }
}
